@using DataTransfer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/pager.css" rel="stylesheet" />
<div class="main">
    <div class="ui_title mt20">
        <div class="ui_title_wrap">
            <a href="javascript:;" class="on">@ViewBag.sort</a>
        </div>
    </div>
    <div class="prod">
        @{List<CookBookTsfer> list = ViewBag.cookbookList;
        if (list != null && list.Count > 0)
        {
            foreach (CookBookTsfer cook in list)
            {
                <div class="col_1_of_3 span_1_of_3" style="height:300px;text-align:center;">
                    <div class="view effect">
                        <img src="@cook.ImgUrl" alt="@cook.Name" class="imagess" onloadstart="image();" />

                    </div>
                    <a href="/CookBook/Get/?cookBookId=@cook.CookBookId"><h3>@cook.Name</h3></a>
                </div>
            }
        }
        }
        <div class="clear"></div>

    </div>
    <div class="tcdPageCode">
    </div>
</div>
@*<div style="position:relative;">
        <p id="p1"></p>
        <ul class="pagination" id="pagination1" style="position: absolute;left: 50%;transform: translateX(-50%);"></ul>
    </div>*@
<script src="http://www.lanrenzhijia.com/ajaxjs/jquery.page.js"></script>
<script>
    $(document).ready(function () {
        $(document).ready(function () {
            if ("@ViewBag.IsSort" == "True") {
                $("#secondli").addClass("active");
            }
            else {
                $("#thirdli").addClass("active");
            }
        });
    });
    function image() {
        var height = $(".imagess").height;
        var width = $(".imagess").width;
        if (height >= width) {
            $(".imagess").attr("height", "100%");
        }
        if (height < width) {
            $(".imagess").attr("width", "100%");
        }
    }
    
    $(".tcdPageCode").createPage({
        pageCount: 50,
        current: 1,
        backFn: function (p) {
            console.log(p);
        }
    });
</script>
