@model IEnumerable<DataTransfer.SubjectArticleTsfer>

@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">
    function deleteSubject(id) {
        $.ajax({
            type: "post",
            url: "/AdminSubjectArticle/Delete",
            data: { id: id },
            success: function (o) {
                if (o.StatusCode == 1) {
                    layer.msg("成功");
                    setTimeout(function () { location.reload(); }, 1000);
                } else {
                    layer.msg(o.Message);
                }
            }
        });
    }
    $(document).ready(function () {
        $(".tcdPageCode").createPage({
            pageCount: parseInt('@ViewBag.pageCount'),
            current: parseInt('@ViewBag.pageIndex'),
            backFn: function (p) {
                window.location.href = '/AdminSubjectArticle/Manager?pageindex='+p;
            }
        });
    });
    
    function subjectArticle() {
        window.location.href = '/AdminSubjectArticle/Index';
    }
</script>
<style>
    
</style>
<div class="page-header">
    <h2>饮食专题管理</h2>
</div>
<p>
    <input type="button" class="btn-link" onclick="subjectArticle()" value="饮食专题发表" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectArticleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datetime)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectArticleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brief)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datetime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = @item.SubjectArticleId })
                    <a href="javascript:;" onclick="deleteSubject(@item.SubjectArticleId)">Delete</a>
                </td>
            </tr>
        }
    }

</table>
<div class="tcdPageCode">
</div>
