 @model IEnumerable<DataTransfer.CommentRecordTsfer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>
    $(document).ready(function () {
        //分页
        $(".tcdPageCode").createPage({
            pageCount: parseInt('@ViewBag.pageCount'),
            current: parseInt('@ViewBag.pageIndex'),
            backFn: function (p) {
                window.location.href = '/AdminCommentCookBook/Index?pageindex=' + p;
            }
        });
    });
    function deletecomment(id) {
        $.ajax({
            type:"post",
            url: "/AdminCommentCookBook/Delete",
            data:{id:id},
            success:function (o) {
                if(o.StatusCode==1){
                    layer.msg("成功");
                    setTimeout(function () {
                        location.reload();
                    },500);
                }
                else {
                    layer.msg("失败");
                }
            }
        });
    }
</script>
<div class="page-header">
    <h1>
        菜谱评论管理
    </h1>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            菜谱名称
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RootId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            <a href="/CookBook/ShowDetail?cookBookId=@item.OperateId&isSort=True">@item.OperateName</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RootId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td style="width:50px;">
            <a href="javascript:;" onclick="deletecomment(@item.CommentId)">删除</a>
        </td>
    </tr>
}

</table>
<div class="tcdPageCode">
</div>
