@using DataTransfer
﻿﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    @*<link href='http://fonts.useso.com/css?family=Patua+One' rel='stylesheet' type='text/css'>*@
    <!--slider-->
    <link rel="stylesheet" href="/Content/flexslider.css" type="text/css" media="all" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    <!-- jQuery -->
    @*<script src="http://ajax.useso.com/ajax/libs/jquery/1/jquery.min.js"></script>*@
    <!-- FlexSlider -->
    <script src="~/Scripts/jquery.flexslider.js"></script>
    <script src="~/Scripts/layer9.1/layer.js"></script>
    <link href="~/Content/center.css" rel="stylesheet" />
    <link href="~/Content/my_newmenu.css" rel="stylesheet" />
    <script src="~/Scripts/jqPaginator.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <script type="text/javascript">
        function search() {
            var name = $("#searchname").val();
            if (name && name != 'Search') {
                location.href = "/CookBook/SearchList?name=" + name;
            } else {
                layer.msg("搜索内容不能为空", { time: 1000 });
            }
        }
        $(document).ready(function () {
            $("#searchname").focus(function () {
                this.value = '';
            });
            $("#searchname").blur(function () {
                if (this.value == '') { this.value = 'Search'; }
            });
        });
    </script>
</head>
<body>
    <div class="wrap">
        <div class="total">
            <div class="header">
                <div class="header_top_right">
                    <ul>
                        @if (ViewBag.IsLogin)
                        {
                            <li><a href="/UserInfo/UserCenter">@ViewBag.User.Name</a> </li>
                            <li> |</li>
                            <li><a href="/UserInfo/LogOut">退出</a></li>
                        }
                        else
                        {
                            <li><a href="/UserInfo/Login">登录</a></li>
                            <li> |</li>
                            <li><a href="/UserInfo/Register">注册</a></li>
                        }

                    </ul>
                </div>
                <div class="clear"></div>
                <div class="header-bot">
                    <div class="logo">
                        <a href="/home/index"><img src="/images/logo.png" alt="" /></a>
                    </div>
                    @*<ul class="follow_icon">
                            <li><a href="#"><img src="/images/fb.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/googleplus.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/tw.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/pinterest.png" alt=""></a></li>
                        </ul>*@
                    <div class="clear"></div>
                </div>
                <div class="search-bar">
                    <input type="text" class="textbox" value="Search" id="searchname" style="height:25px;">
                    @*onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}*@
                    <input name="searchsubmit" type="image" src="/images/search-icon.png" value="Go" id="searchsubmit" class="btnsearch" onclick="search();">
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="menu">
                <div class="top-nav">
                    <ul id="daohang" style="margin-bottom:0px;">
                        <li><a href="/Home/index">首页</a></li>
                        <li id="secondli" class="dropdown">

                            <a href="javascript:;">分类</a>
                            <div class="dropdown-content">
                                @{List<FoodSortTsfer> listfenlei = ViewBag.listfenlei;
                                if (listfenlei.Count > 0)
                                {
                                    foreach (FoodSortTsfer sort in listfenlei)
                                    {
                                        <a href="/CookBook/List?id=@sort.FoodSortId">@sort.Name</a>
                                    }
                                }

                                }
                            </div>
                        </li>
                        <li class="dropdown" id="thirdli">
                            <a href="javascript:;">食材</a>
                            <div class="dropdown-content">
                                @{List<FoodMaterialTsfer> listshicai = ViewBag.listshicai;
                                if (listshicai != null && listshicai.Count > 0)
                                {
                                    foreach (FoodMaterialTsfer sort in listshicai)
                                    {
                                        <a href="/CookBook/ListShicai?type=shicai&id=@sort.FoodMaterialId">@sort.Name</a>
                                    }
                                }

                                }
                            </div>
                        </li>
                        <li id="forthli"><a href="/SubjectArticle/Index">饮食专题</a></li>
                        <li><a href="/UserInfo/UserCenter">个人中心</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>

            @RenderBody()
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>Copyright &copy; 2016.ZhangYue</p>
            </div>
        </div>
    </div>
</body>
</html>
