@using DataTransfer
@{
    ViewBag.Title = "美食网";
}
<script type="text/javascript">
    
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
        $("#daohang li:first").addClass("active");
    });

    function redirectToDetails(cookbookId) {
        window.location.href = '/cookbook/ShowDetail?cookBookId='+cookbookId+'&isSort=True';
    }
</script>
<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
</style>
<div class="banner">
    <div class="flexslider">
        <ul class="slides">
            <li><img src="/images/banner1.jpg" alt="" /></li>
            <li><img src="/images/banner2.jpg" alt="" /></li>
            <li><img src="/images/banner3.jpg" alt="" /></li>
            <li><img src="/images/banner4.jpg" alt="" /></li>
        </ul>
    </div>
</div>
<div class="main">
    <div class="content-top">
        <div style="border-bottom: 1px solid #EBE4D6;"><h3><span class="red" style="border-bottom:2px solid">最火菜谱</span>@*<span class="black" style="position: relative;float: right;right:1em;">More</span>*@</h3></div>
        @*<div class="col_1_of_5 span_1_of_5">
                <div class="hover_img">
                    <a href="#"><img src="/images/pic.jpg" alt="" /></a>
                </div>
            </div>*@
        @if (ViewBag.Hottest.Count == 0)
        {
            <span>暂时无数据</span>
        }
        else
        {
            foreach (CookBookTsfer item in ViewBag.Hottest)
            {
                @*<div class="col_1_of_5 span_1_of_5" style="height:150px;overflow:hidden;">
                    <div class="hover_img">
                        <a href="/cookbook/ShowDetail?cookBookId=@item.CookBookId&isSort=True"><img src="@item.ImgUrl" alt="" /></a>
                    </div>
                </div>*@
            
            <div class="col_1_of_3 span_1_of_3">
                    <div style="height: 200px; overflow: hidden;"><img src="@item.ImgUrl" alt="" style="width:100%;" /></div>
                    <div class="bottom-head"><h5>@item.Name</h5></div>
                    <div class="but">
                        <a href="javascript:;"><button class="btn1 btn-8 btn-8a" onclick="redirectToDetails('@item.CookBookId')">Read More</button></a>
                    </div>
                </div>
            }
        }

        @*<div class="col_1_of_5 span_1_of_5">
                <div class="hover_img">
                    <a href="#"><img src="/images/pic1.jpg" alt="" /></a>
                </div>
            </div>
            <div class="col_1_of_5 span_1_of_5">
                <div class="hover_img">
                    <img src="/images/pic2.jpg" alt="" />
                </div>
            </div>
            <div class="col_1_of_5 span_1_of_5">
                <div class="hover_img">
                    <img src="/images/pic3.jpg" alt="" />
                </div>
            </div>
            <div class="col_1_of_5 span_1_of_5">
                <div class="hover_img">
                    <img src="/images/pic3.jpg" alt="" />
                </div>
            </div>*@
        <div class="clear"></div>
    </div>
    <div class="content-middle">
        <div style="border-bottom: 1px solid #EBE4D6;"><h3><span class="red" style="border-bottom:2px solid">最新菜谱</span>@*<span class="black" style="position: relative;float: right;right:1em;">More</span>*@</h3></div>
        @*<div class="col_1_of_3 span_1_of_3">
                <div style="height: 200px; overflow: hidden;"><img src="~/Upload/Images/381203c0ab054432af25a145aadc3594.jpg" alt="" style="width:100%;" /></div>
                <div class="bottom-head"><h5>菜谱名称</h5></div>
                <div class="but">
                    <a href="#"><button class="btn1 btn-8 btn-8a">Read More</button></a>
                </div>
            </div>*@

        @if (ViewBag.RecentCook.Count == 0)
        {
            <span>暂时无数据</span>
        }
        else
        {
            foreach (CookBookTsfer item in ViewBag.RecentCook)
            {
                <div class="col_1_of_3 span_1_of_3">
                    <div style="height: 200px; overflow: hidden;"><img src="@item.ImgUrl" alt="" style="width:100%;" /></div>
                    <div class="bottom-head"><h5>@item.Name</h5></div>
                    <div class="but">
                        <a href="javascript:;"><button class="btn1 btn-8 btn-8a" onclick="redirectToDetails('@item.CookBookId')">Read More</button></a>
                    </div>
                </div>
            }

        }

        @*<div class="col_1_of_3 span_1_of_3">
            <img src="/images/pic6.jpg" alt="" />
            <div class="bottom-head"><h5>Lorem ipsum dolor sit amet, consectetuer</h5></div>
            <div class="but">
                <button class="btn1 btn-8 btn-8a">Read More</button>
            </div>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <img src="/images/pic7.jpg" alt="" />
            <div class="bottom-head"><h5>Lorem ipsum dolor sit amet, consectetuer</h5></div>
            <div class="but">
                <button class="btn1 btn-8 btn-8a">Read More</button>
            </div>
        </div>*@

        <div class="clear"></div>
    </div>
    <div class="content-last">
        

        @if(ViewBag.RecentArticle.Count==0)
        {
            <span>暂时无数据</span>
        }else
        {
            foreach (SubjectArticleTsfer item in ViewBag.RecentArticle)
            {
                <div class="col_1_of_4 span_1_of_4">
            <img src="/images/glass.png" alt="" />
            <h3 style="height:2.4em;">@item.Title</h3>
            <p class="ellipsis" style="padding:0;">@item.Brief</p>
            <a href="#"><button class="btn1 btn-8 btn-8a">Read More</button></a>
        </div>
            }
        }

        @*<div class="col_1_of_4 span_1_of_4">
            <img src="/images/plate.png" alt="" />
            <h3 style="height:2.4em;">孕妇不能吃什么？能吃什么？</h3>
            <p class="ellipsis" style="padding:0;">气血不足是中医的概念，气和血都是生命的载体，共同滋润身体，使身体正常协调地运作。春季气候多变，人体容易血虚，机体失调，使身体气血不畅，常会出现失眠多梦等不适的症状，要解决这些毛病，就要经常补血安神了，那么有什么食物帮助我们补血安神呢？下面推荐十种补血安神的好食物，一起来看一下吧。气血不足是中医的概念，气和血都是生命的载体，共同滋润身体，使身体正常协调地运作。春季气候多变，人体容易血虚，机体失调，使身体气血不畅，常会出现失眠多梦等不适的症状，要解决这些毛病，就要经常补血安神了，那么有什么食物帮助我们补血安神呢？下面推荐十种补血安神的好食物，一起来看一下吧。</p>
            <a href="#"><button class="btn1 btn-8 btn-8a">Read More</button></a>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <img src="/images/icecream.png" alt="" />
            <h3 style="height:2.4em;">孕妇不能吃什么？能吃什么？你知道吗？你知道吗？</h3>
            <p class="ellipsis" style="padding:0;">气血不足是中医的概念，气和血都是生命的载体，共同滋润身体，使身体正常协调地运作。春季气候多变，人体容易血虚，机体失调，使身体气血不畅，常会出现失眠多梦等不适的症状，要解决这些毛病，就要经常补血安神。</p>
            <a href="#"><button class="btn1 btn-8 btn-8a">Read More</button></a>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <img src="/images/leaf.png" alt="" />
            <h3 style="height:2.4em;">孕妇不能吃什么？</h3>
            <p class="ellipsis" style="padding:0;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a href="#"><button class="btn1 btn-8 btn-8a">Read More</button></a>
        </div>*@
        <div class="clear"></div>
    </div>
</div>