@model DataTransfer.CookBookTsfer

@{
    ViewBag.Title = "菜谱详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PublishCookBook.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $("#daohang li:last").addClass("active");
    });
</script>

<div>
    <h4>CookBookTsfer</h4>
    <hr />
    @if (Model != null)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CookBookId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CookBookId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TasteId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TasteId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TasteName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TasteName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FoodSortId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FoodSortId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FoodSortName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FoodSortName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImgUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImgUrl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tips)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tips)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateTime)
            </dd>

        </dl>
    }
    else
    { 
    <h4>次菜谱不存在</h4>
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
